<div class="row justify-content-center m-3">
    <form (ngSubmit)="EditProd()">

        <div class="row mt-3 justify-content-center">
            <div class="col-3">
                <div class="d-flex mb-3 align-items-center justify-content-center">
                    <label style="margin-right: 100px;" for="imgInp">URL Ảnh 1</label>
                    <!-- <img id="blah" [src]="'https://localhost:7069/' + image1Url" width="80px" height="80px" /> -->
                </div>
                <input required name="image1" type="file" (change)="onFileChange($event, 1)" class="form-control" id="imgInp1"
                    accept="image/*" />
            </div>
            <div class="col-3">
                <div class="d-flex mb-3 align-items-center justify-content-center">
                    <label style="margin-right: 100px;" for="imgInp">URL Ảnh 2</label>
                    <!-- <img id="blah" [src]="'https://localhost:7069/' + image2Url" width="80px" height="80px" /> -->
                </div>
                <input required name="image2" type="file" (change)="onFileChange($event, 2)" class="form-control" id="imgInp1"
                    accept="image/*" />
            </div>
            <div class="col-3">
                <div class="d-flex mb-3 align-items-center justify-content-center">
                    <label style="margin-right: 100px;" for="imgInp">URL Ảnh 3</label>
                    <!-- <img id="blah" [src]="'https://localhost:7069/' + image3Url" width="80px" height="80px" /> -->
                </div>
                <input required name="image3" type="file" (change)="onFileChange($event, 3)" class="form-control" id="imgInp1"
                    accept="image/*" />
            </div>
        </div>


        <div class="detail-admin mt-3">
            <div class="projects justify-content-center">
                <div class="card-body">
                    <span>Tên sản phẩm</span>
                    <input type="text" [(ngModel)]="product.productName" name="productName"
                        [value]="product.productName" class="form-control"
                        style="height: 40px; padding-left: 5px;" /><br>

                    <span>Ngày chỉnh sửa</span>
                    <label class="form-control" ngModel name="CreatedDate" type="text"
                        aria-label="Disabled input example" disabled readonly>{{
                        currentDate | date : "hh:mm:ss" }}
                        {{ currentDate | date : "fullDate" }}</label><br>

                    <span>Số lượng</span>
                    <div class="row ms-0 mt-2">
                        <div class="col">
                            <span>Size S : </span>
                            <input type="number" [(ngModel)]="product.amount1" name="amount1" [value]="product.amount1"
                                placeholder="Số lượng" min="1" max="10000" class="form-control"
                                style="width:100px; height: 40px; padding-left: 5px; margin-right: 8px;"><br>
                        </div>
                        <div class="col">
                            <span>Size M : </span>
                            <input type="number" [(ngModel)]="product.amount2" name="amount2" [value]="product.amount2"
                                placeholder="Số lượng" min="1" max="10000" class="form-control"
                                style="width:100px; height: 40px; padding-left: 5px;margin-right: 8px;"><br>
                        </div>
                        <div class="col">
                            <span>Size L :</span>
                            <input type="number" [(ngModel)]="product.amount3" name="amount3" [value]="product.amount3"
                                placeholder="Số lượng" min="1" max="10000" class="form-control"
                                style="width:100px; height: 40px; padding-left: 5px;"><br>
                        </div>
                    </div>

                    <span>Giá gốc</span>
                    <input type="number" [(ngModel)]="product.initialPrice" name="initialPrice"
                        [value]="product.initialPrice" style="height: 40px; padding-left: 5px;"
                        class="form-control mb-3" size="30" placeholder="Giá sản phẩm" />

                    <span>Giá chính thức</span>
                    <input type="number" [(ngModel)]="product.officialPrice" name="officialPrice"
                        [value]="product.officialPrice" class="form-control" placeholder="Giá chính thức"
                        style="height: 40px; padding-left: 5px;" /><br>



                    <!-- <span>Giá Gốc</span>
                    <input type="text" [(ngModel)]="product.price" name="price" [value]="product.price" id="fname"
                        class="form-control" placeholder="Giá gốc" style="height: 40px; padding-left: 5px;" /><br> -->


                    <div class="input-box">
                        <label for="cars">Danh mục sản phẩm:</label>

                    </div>
                    <select [(ngModel)]="product.categoryId" name="categoryId" class="form-control">
                        <!-- <option [value]="product.categoryId">{{product.categoryId}}</option> -->



                        <option *ngFor="let item of cateLst" [value]="item.categoryId">{{item.categoryName}}</option>
                    </select> <br>
                    <textarea [(ngModel)]="product.introduction" name="introduction" [value]="product.introduction"
                        class="input-introd-prod form-control" placeholder="Giới thiệu sản phẩm"
                        rows="4">{{product.introduction}}</textarea>
                    <button type="submit" class="btn btn-warning" style="width:100%;margin-top: 20px; height: 35px;">Cập
                        nhật</button>
                    <!-- <button  class="btn btn-danger" style="width: 29%; margin-left: 5px; height: 35px;">Xóa</button> -->

                </div>

            </div>

        </div>

    </form>
</div>