<div class="row justify-content-center m-3">
    <form #f="ngForm">
        <div class="row mt-3 justify-content-center">
            <div class="col-3">
                <div class="d-flex mb-3 align-items-center justify-content-center">
                    <label style="margin-right: 100px;" for="imgInp1">Ảnh 1</label>
                    <img id="imgPreview1" width="80px" height="80px" />
                </div>
                <input required name="image1" type="file" (change)="onFileChange($event, 1)" class="form-control"
                    id="imgInp1" accept="image/*" />
            </div>
            <div class="col-3">
                <div class="d-flex mb-3 align-items-center justify-content-center">
                    <label style="margin-right: 100px;" for="imgInp2">Ảnh 2</label>
                    <img id="imgPreview2" width="80px" height="80px" />
                </div>
                <input required name="image2" type="file" (change)="onFileChange($event, 2)" class="form-control"
                    id="imgInp2" accept="image/*" />
            </div>
            <div class="col-3">
                <div class="d-flex mb-3 align-items-center justify-content-center">
                    <label style="margin-right: 100px;" for="imgInp3">Ảnh 3</label>
                    <img id="imgPreview3" width="80px" height="80px" />
                </div>
                <input required name="image3" type="file" (change)="onFileChange($event, 3)" class="form-control"
                    id="imgInp3" accept="image/*" />
            </div>
        </div>


        <div class="detail-admin ">
            <div class="projects justify-content-center">
                <div class="card-body">
                    <div class="form-floating mt-3" style="z-index: 0;">
                        <input type="text" [(ngModel)]="productName" name="productName" class="form-control" id="floatingInput"
                            placeholder="Tên sản phẩm">
                        <label for="floatingInput">Tên sản phẩm</label>
                    </div>
                    <label class="form-control mt-3" type="text" aria-label="Disabled input example" disabled
                        readonly>Thời điểm
                        thêm mới: {{ currentDate | date : "hh:mm:ss" }} {{ currentDate | date : "fullDate"
                        }}</label><br>
                    <div class="row justify-content-center align-items-center mb-3">
                        <div class="col-3 form-check">
                            <input ngModel name="selectedSize1" (click)=" onSizeSClick(selectedSizeS)"
                                class="form-check-input" type="checkbox" [value]="btnSizeS" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{ btnSizeS }}
                            </label>
                            <input type="number" style="border-radius: 8px; margin-left: 8px;" *ngIf="stateSizeS"
                                [(ngModel)]="countS" name="Amount1" placeholder="Nhập số lượng Size S">
                        </div>

                        <div class="col-3 form-check">
                            <input (click)=" onSizeMClick()" class="form-check-input" type="checkbox" [value]="btnSizeM"
                                id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{ btnSizeM }}
                            </label>
                            <input type="number" style="border-radius: 8px; margin-left: 8px;" *ngIf="stateSizeM"
                                [(ngModel)]="countM" name="Amount2" placeholder="Nhập số lượng Size M">
                        </div>

                        <div class="form-check col-3">
                            <input (click)=" onSizeLClick()" class="form-check-input" type="checkbox" [value]="btnSizeL"
                                id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{ btnSizeL }}
                            </label>
                            <input type="number" style="border-radius: 8px; margin-left: 8px;" *ngIf="stateSizeL"
                                [(ngModel)]="countL" name="Amount3" placeholder="Nhập số lượng Size L">
                        </div>
                    </div>

                    <input type="text" [(ngModel)]="initialPrice" name="initialPrice" style="height: 48px;" class="form-control"
                        placeholder="Giá sản phẩm" />

                    <input type="text" [(ngModel)]="officialPrice" name="officialPrice" class="form-control mt-3" placeholder="Giá chính thức"
                        style="height: 48px;" /><br>

                    <div class="input-box ">
                        <label for="cars">Danh mục sản phẩm:</label>

                    </div>
                    <select name="categoryId" [(ngModel)]="categoriesID" class="form-control">
                        <option *ngFor="let item of cateLst" [value]="item.categoryId">{{item.categoryName}}</option>
                    </select> <br>
                    <textarea class="input-introd-prod form-control" [(ngModel)]="introduction" name="introduction"
                        placeholder="Giới thiệu sản phẩm" rows="4"></textarea>
                    <span style="color: red;"></span>
                    <button (click)="CreateProduct(f)" type="submit" class="btn btn-success"
                        style="width:100%;margin-top: 20px; height: 35px;">Lưu</button>
                </div>
            </div>
        </div>
    </form>
</div>